div {
    border-style: solid;
    margin: 30px;
}
#red {
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
}
#blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: flex;
}